<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
     <!-- <hr>
      <h1>
      
          {{ site.title }}
      
      </h1>-->
     <!--  <p class="lead">{{ site.description }}</p>-->
     <h1>Fabian Alcantara</h1>
    

     <span class="desc">
       <h2>{{ site.description }}</h2>
       <img class="emoji" title=":octocat:" alt=":octocat:" src="https://assets-cdn.github.com/images/icons/emoji/octocat.png">

    </span>
    <ul class="portfolio">
      <li><a class="email" href="mailto:hello@fabuloso.me">hello@fabuloso.me</a></li>
      <li><a class="portfolio" target="_blank" href="http://fabuloso.me">Portfolio</a></li>
      <li> <a class="portfolio" target="_blank" href="https://www.behance.net/fabuloso">Behance</a></li>
    </ul>
     
      
       
      <div class="table">
         <ul class="social-links">
            
            <li><a target="_blank" href="http://facebook.com/alcafab"><i class="fa fa-facebook"></i></a></li>
            <li><a target="_blank" href="http://linkedin.com/in/fabalca"><i class="fa fa-linkedin"></i></a></li>
            <li><a target="_blank" href="http://twitter.com/fabuloso"><i class="fa fa-twitter"></i></a></li>
               <li><a target="_blank" href="skype:facebook:fabalca?call"><i class="fa fa-skype"></i></a></li>
            <li><a target="_blank" href="http://instagram.com/fabuloso"><i class="fa fa-instagram"></i></a></li>
            
         </ul>
      </div>
    </div>
  </div>
</div>
